<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="data:image/png;base64,{{ plots }}"/>
    <br>
    
    <form action = "/results" method="POST">
        Which angle is smallest? Angle: 
        {{form.smallest}}
        <br>
        Which angle is second smallest? Angle:
        {{form.second_smallest}}
        <br>
        Which angle is second largest? Angle: 
        {{form.third_smallest}}
        <br>
        Which angle is largest? Angle:
        {{form.largest}}
        <br><input  type="submit">
    </form>
</body>
</html>